<style type="text/css">
  body{background: black;}
</style>
<div class="home-page">
  <div class="row home-info">
    <div class="span4">
      <h1>Go-Rss</h1>
    </div>
    <div class="span8 info">
      <p>
        <strong>Do</strong> you visit different websites for news or updates every day<strong>?</strong>
      </p>
      <p>
        <strong>Do</strong> you want to centralize all news at one place<strong>?</strong> </p>
      <p>Yeh....You are at right place, chose your news sites and categories to view updates of your favourite sites. <!-- Set your favourite color for each kind of updates. --></p>
      <p><%= link_to "Sign in", new_user_session_path %> to customize your dashboard. </p>
    </div>
  </div>
  <div id="feed-container" class="row">
    <%= render "user/shared/feeds", feeds: @feeds %>
  </div>
</div>
<script type="text/javascript">
  var page = 1;
  $(function(){
    apply_masonry();
    //loading 
    
    var loading = false,
    finish = false;

    function nearBottomOfPage() {
      return $(window).scrollTop() > $(document).height() - $(window).height() - 50;
    }

    function finish() {
      finish = true;
    }

    $(window).scroll(function(){
      if (loading) {
        return;
      }

      if(nearBottomOfPage() && !finish) {
        loading=true;
        page++;
        $.ajax({
          url: '?page=' + page,
          type: 'get',
          dataType: 'script',
          beforeSend:  function(){
            $(".bottom-loader").show();           
          },
          success: function() {
            $(".bottom-loader").hide();
            $('#feed-container').masonry('reload');
            loading=false;
          }
        });
      }
    });
  })
</script>