<div class="side-menu">
  <h4>Subscribed Rss</h4>
  <ul class="win8-menu">
    <% current_user.feed_urls.each do |u| %>
      <li class="subscribed-feed"><%= link_to content_tag(:i, "", class:"icon-refresh"), generate_feeds_user_feed_url_path(u) %> <%= u.title %> <%= link_to content_tag(:i, "", class:"icon-remove danger"), unsubscribe_user_feed_url_path(u), class: "danger"%> </li>
    <% end %>
  </ul>
</div>