<div id="feed-container" class= "row">
	<% if @feeds.any? %>
		<%= render "user/shared/feeds", feeds: @feeds %>
	<% else %>
		<div class="jumbotron">
		  <h1>Hello!</h1>
		  <p>Welcome to goRSS. Thanks for giving your attension to the app. Get started with subscribing RSS feeds.</p>
		  <p>
		  	<%= link_to "Subscribe RSS Feed", user_feed_urls_path, remote: true, class: "btn btn-primary btn-lg" ,role:"button"%>
		  </p>
		</div>

	<% end %>
</div>
<%= render "side_menu" %>
<%= render "shared/popup", content: ""%>
<script type="text/javascript">
	$(function(){
		$infinet_loader = new InfiniteLoader();
	})
</script>
<style type="text/css">
	body{background: black;}
</style>

