.rss-feed-block
{
	display: block;
	margin: 10px;
	padding: 5px;
	float: left;
	/*box-shadow: 5px 3px 3px #D2D5D7;*/
	/*border-radius: 5px;*/
	width: 220px;
}
.rss-feed-block p
{
	word-wrap: break-word;
	text-align: left;
}
/*.blue-feed
{
	background: #F3F8FE;
	color: #2D87C8;
}*/
.small{
	/*width: 200px;*/
	/*background: #F3F8FE;
	color: #2D87C8;*/
	background: #00B2F0;
	color: #FFF;
}
.large h5 a{color: #86240E;
}
.small h5 a{color: #101F27}
.medium h5 a{color: #044D03}
.medium p{
	max-height: 660px;
	overflow: hidden;
}
body{
	/*background: #240040 !important;*/
	background-color: black;
	overflow-x: hidden;
}

.medium{
	background: #019F02;
	color: #FFF;
}
.large{
	background: #D84F2B;
	color: #FFF;
}
.large p{
max-height: 740px;
text-overflow: ellipsis;
overflow: hidden;
}
.feed-image{
	padding: 10px;
	/*border: 1px solid #D4D4D4;*/
	background: rgba(0,0,0,0.1);
											border-radius: 5px 5px 0 0 ;

}
.feed-image > img
{
	width: 200px !important;
	border-radius: 5px 5px  0 0;
}
.feed-category{
	text-align: left;
	padding: 5px 0 5px 5px ;
	border-radius: 0px 0px 5px 5px ;
	background: rgba(0,0,0,0.1);
}
/*
.small > .feed-category
{
	background: #DFE5EB;
}
.medium > .feed-category
{
	background: 
}*/
.clear {clear: both;display: block;}
.signup-box
{
	display: block;
	width: 400px;
	padding: 20px;
	color: #FFF;
	text-align: left;
	background-color: rgb(0, 178, 240);
}
.image-loading
{
	display: block;
	width: 200px !important;
	border-radius: 5px 5px  0 0;
}
.side-menu
{
	display: block;
	width: 300px;
	background: #019F02;
	position: absolute;
	top: 40px;
	right: -290px;
	/*right: 0;*/
	min-height: 100%;
}
ul.win8-menu
{
	list-style: none;
	display: block;
	margin: 5px;
	overflow: hidden;
}
ul.win8-menu > li
{
	display: block;
	width: 100%;
	float: left;
	clear: both;
	text-align: left;
	background-color: #00B2F0;
	margin: 2px 0;
	padding: 5px;
	color: #FFF;
	position: relative;
}
ul.win8-menu > li i{color:  #FFF;}
ul.win8-menu > li a{padding: 3px; text-decoration: none;}
.danger{color: red !important;}
.popup{
	display: none;
	width: 50%;
	min-height: 100%;
	background: #019F02;
	position: absolute;
	z-index: 999;
	top: 0px;
	left: -100%;
}
.popup .close-btn
{
	/*position: absolute;
	top: 10px;
	right: 10px;*/
	display: block;
	padding: 2px;
	margin: 5px;
}
.popup ul.win8-menu > li {left: -100%;}

.home-page-box{
	display: block;
	float: left;
	width:50%;
	height: 400px;
}
.signup-box
{
	margin-top: 50px;
	display: block;
	color: black;
	box-shadow: 1px 1px 3px #86D8F9;
}
.error-block{color: red;}
.forgot-pw-box{
	margin-top: 50px;
	display: block;
	color: black;
	width:600px;
	box-shadow: 1px 1px 3px #86D8F9;
}
#feed-container{
	margin-top: 50px;
	/*min-width: 100%;*/
}
.color_box
{
	display: block;
	width: 10px;
	height: 10px;
	float: left;
	border: 1px solid black;
	margin: 4px;
}

.home-info{
	display: block;
	min-height: 150px;
	background-color: #2B0620;
	margin: 40px 0 0 0;
	text-align: left;
	padding: 10px 40px;
	border-radius: 0 0 5px 5px;
}
.home-info h1{
	color: #FFF;
	font-size: 6em;
	margin-top: 50px;
}
.home-info .info{
	font-size: 1.2em;
	color: #BCBC4C;
	margin-top: 10px;
	background: rgba(0,0,0, 0.6);
	padding: 10px;
	border-radius: 10px;
}
.home-info .info strong{
	font-size: 1.4em;
}
.home-page #feed-container{
	margin-top: 10px !important;
}

.rss-feed-block .published_date
{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 2px;
	display: block;
	background: rgba(0,0,0,0.6);
	box-shadow: -1px 1px 2px black;
	font-size: 10px;
}

.rss-feed-block .url-title
{
	display: block;
	padding: 2px;
	font-weight: bold;
	font-size: 0.9em;
	text-align: left;
	color: rgba(0,0,0,0.6);
}
.rss-feed-block hr
{
	margin:  5px 0;
}
.fullFeed{
	display: block;
	width: 700px;
	margin: 0 auto;
}
.fullPopup{
	width: 100%;
	height: 100%;
	position: fixed;
	background: black;
	z-index: 999;
	top: 0px;
	left: -100%;	
	overflow-y: auto; 
}
.fullPopup .leftSide{
	display: block;
}
.fullPopup .back{
	background: rgb(0, 66, 110);
    display: block;
    float: right;
    min-height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: white !important;
    font-size: 14px;
   	cursor: pointer;
}
.fullFeed .feed-image{
	text-align: center;
}
.fullFeed .feed-image img{
	width: 400px !important;
}
.fullFeed{
	padding: 5px;
}
.fullFeed p{
	font-size: 14px;
}
.fullFeed h5 a{
	font-size: 30px;
}
.fullPopup .leftSide{
	height: 100%;
}
.fullPopup .fullFeed{
	min-height: 100%;
	text-align: left;
}
.large .back{background-color: #86240E; color: #000;
}
.small .back{background-color: #101F27}
.medium .back{background-color: #044D03}
.flash-message{
	margin-top: 45px;
}
.small ::selection {
	background: #101F27;
}
.medium ::selection {
	background: #044D03;
}
.large ::selection{
	background: #86240E;
}
.sharer{
	padding: 5px
}
.goRssIntro{
	background: black;
	color: white;
	border: 1px solid white;
}
.goRssIntro h5{
	color: #FA6400;
}
#coin-slider{
	margin-top: 20px;
}
.tab-cat-block{
	background: rgb(235, 14, 14);
}
.tab-cat-block h5{
	color: #760707;
}
.tab-cat-block > ul{
	list-style: none;
	list-style-type: none;
	clear: both;
	display: block;
	width: 100%;
	float: left;
	margin: 0;
}
.tab-cat-block > ul li{
	display: block;
	float: left;
	width: 100%;
	text-align: left;
	background: #760707;
	padding: 5px 0 5px 5px;
	color: white;
	font-size: 12px;
	margin-bottom: 2px;
	cursor: pointer;
}
.tab-cat-block > ul li a{
	font-size: 14px;
	float: right;
	padding: 0 5px 0 0;
	color: red;
	cursor: pointer;
	text-decoration: none;
}
.tab_form input[type='text'],.tab_form select {
	width: 80%;
	font-size: 10px;
	padding: 2px 5px;
}
.tab_form button{
	font-size: 12px;
}
.tab-cat-block .remove_cat{
	position: absolute;
	right: 10px;
	color: #760707;
	text-decoration: none;
}
.categories_container{
	min-width: 100%;
}